asn1crypto==0.22.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
conda==4.3.29
cryptography==1.9
enum34==1.1.6
idna==2.5
ipaddress==1.0.18
numpy==1.14.0
packaging==16.8
picamera==1.13
Pillow==3.4.2
pycosat==0.6.1
pycparser==2.17
pyOpenSSL==16.2.0
pyparsing==2.2.0
requests==2.18.1
ruamel.yaml==0.11.7
six==1.10.0
urllib3==1.21.1
web.py==0.39
